@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.about {
    width: 73%;
    margin: 0 auto;
    // align-content: center;
    padding: 20px;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 25px;
    }

}


@media (max-width: 767.98px) {

    .about {
        width: 100%;
        padding: 0;
        font-size: 17px;
        gap: 7px;
        margin-top: 45px;

        .content {
            padding: 0 50px;
            background-color: black;
        }


        h2 {
            font-size: 20px;
            font-weight: 600;
            padding: 5px 0;
        }
    }

}