* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: red;
    display: flex;
    justify-content: center;
}

#root {
    max-width: 1440px;
    width: 100%;
    background-color: green;
    height: 100vh;
}