@mixin display-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin display-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

@mixin display-start {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

@mixin shadow {
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.842);
}